/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('./theme.css');

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-semibold);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-semibold);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

@font-face {
  font-family: Roboto Mono;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/roboto/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

:root:root {
  --doc-sidebar-width: 220px;
  --ifm-font-family-base: var(--fontFamily);
  --ifm-font-family-monospace: var(--fontFamilyMonospace);
  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);
  --ifm-line-height-base: var(--body-lineHeight);
  --ifm-avatar-intro-margin: 0.5rem;
}

html[data-theme='dark'] {
  --ifm-color-primary: var(--text-primary);
  --ifm-color-secondary: var(--text-secondary);
  --ifm-color-success: var(--success-main);
  --ifm-color-info: var(--info-main);
  --ifm-color-warning: var(--warning-main);
  --ifm-color-danger: var(--error-main);

  --ifm-link-hover-color: var(--text-maxContrast);

  --ifm-background-color: var(--background-canvas);
  --ifm-navbar-background-color: var(--background-primary);
  --ifm-card-background-color: var(--background-primary);
  --ifm-card-border-radius: 0;
  --ifm-table-border-color: var(--background-primary);

  --grafana-gradient-brand-vertical: var(--brandVertical);
}

.card {
  border: 1px solid var(--border-weak);
}

[data-theme='dark'] .footer.footer--dark {
  --ifm-footer-background-color: rgba(0, 0, 0, 0.45);
}

#pageTemplate {
  font-size: 20px;
}

.theme-doc-markdown a {
  /* Doc pages main section without edit this page or pagination */
  color: var(--primary-main);
  text-decoration: underline;
}

.theme-doc-markdown a:hover {
  text-decoration: none;
}

.header-links {
  font-size: calc(var(--fontSize) * 1px);
  cursor: pointer;
  flex-grow: 1;
  text-align: right;
}

.markdown h1:first-of-type {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2px);
}

/* NAVIGATION */

.menu,
.navbar {
  background-color: var(--background-primary);
}

.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 2rem;
}

.menu__link,
.table-of-contents__link {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.menu__link.menu__link--active {
  color: var(--secondary-text);
  background: none;
}

.theme-doc-sidebar-item-link-level-1 > .menu__link--active::before,
.menu__list-item-collapsible > .menu__link--active::before {
  content: '';
  height: calc(var(--spacing) * 4px);
  width: calc(var(--spacing) * 0.5px);
  background: var(--brandVertical);
  position: absolute;
  border-radius: var(--borderRadius);
  left: 0px;
}

.menu__link:hover,
.menu__list-item-collapsible:hover {
  color: var(--secondary-text);
  background: var(--secondary-main);
  text-decoration: underline;
}

.table-of-contents__link:hover {
  color: var(--secondary-text);
  text-decoration: underline;
}

.table-of-contents {
  padding-left: calc(var(--spacing) * 3px);
}

.table-of-contents::before {
  content: 'On this page';
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.table-of-contents ul {
  padding: 0;
}

.table-of-contents li {
  margin: 0;
}

.table-of-contents li:first-of-type {
  margin-top: calc(var(--spacing) * 0.25px);
}

.table-of-contents__link {
  border-left: 2px solid var(--border-weak);
  min-height: calc(var(--spacing) * 4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-of-contents__link--active::before {
  content: '';
  height: calc(var(--spacing) * 4px);
  width: calc(var(--spacing) / 2 * 1px);
  background: var(--brandVertical);
  position: absolute;
  border-radius: var(--borderRadius);
  left: calc(var(--spacing) * 3px);
}

.table-of-contents__link--active {
  color: var(--secondary-text);
}

.table-of-contents > li > .table-of-contents__link {
  padding-left: calc(var(--spacing) * 1px);
}

.table-of-contents > li li > .table-of-contents__link {
  padding-left: calc(var(--spacing) * 3px);
}

.pagination-nav a:hover {
  text-decoration: none;
}

.pagination-nav button {
  width: calc(var(--spacing) * 27px);
}

.pagination-nav button span {
  text-align: center;
  width: 100%;
  display: block !important;
}

main {
  background: var(--background-canvas);
  color: var(--text-primary);
}

/* ABOUT */

#about #content {
  padding: calc(var(--spacing) * 4px);
  font-size: 15px;
}

#about #content h1 {
  font-weight: 400;
}

#about #content #cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: calc(var(--spacing) * 7.5px) 0;
}

#about .card,
#about #content #box {
  background: var(--background-primary);
  border: 1px solid var(--border-weak);
}

#about #content #cards .card {
  width: 21%;
  padding: calc(var(--spacing) * 3px);
  border-radius: var(--borderRadius);
  display: block;
}

#about #content #cards .card img {
  float: left;
  width: 18px;
}

#about #content #cards .card .title {
  float: left;
  font-size: 16px;
  margin: -5px 0 0 10px;
}

#about #content #cards .card .text {
  float: left;
  line-height: 20px;
  margin: 5px 0 0 0;
}

#about #content #cards-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

#about #content #cards-large .card {
  width: 46%;
  padding: calc(var(--spacing) * 3px);
  border-radius: var(--borderRadius);
  display: block;
}

#about #content #cards-large .card .content {
  margin: -5px 0 0 70px;
}

#about #content #cards-large img {
  float: left;
  width: 45px;
}

#about #content #cards-large .card .title {
  font-size: 19px;
}

#about #content #cards-large .card .text {
  font-size: 14px;
  line-height: 20px;
  margin: 2px 0 30px 0;
}

#about #content #cards-large .card a {
  text-decoration: none;
}

#about #content #box {
  border-radius: calc(var(--borderRadius));
  padding: calc(var(--spacing) * 3px);
  margin: 0 0 calc(var(--spacing) * 7.5px) 0;
}

#about #content #box .section {
  margin: 0 0 calc(var(--spacing) * 5px) 0;
}

#about #content #box .section:nth-of-type(4) {
  margin: 0;
}

#about #content .footer {
  margin: calc(var(--spacing) * 7.5px) 0 0 0 !important;
}

#about #content .footer a {
  text-decoration: none;
}

#footer {
  background: var(--background-canvas);
  font-size: 15px;
  padding: calc(var(--spacing) * 2.5px) 0;
  display: flex;
  justify-content: center;
}

#footer p,
#footer a {
  color: #8e8e8e;
  float: left;
  margin: 0 calc(var(--spacing) * 5px) 0 0;
}

.two-images-comparison {
  display: flex;
  flex-direction: row;
}

.two-images-comparison div:first-of-type {
  margin-right: calc(var(--spacing) * 2.5px);
}

@media screen and (max-width: 520px) {
  .two-images-comparison {
    flex-direction: column;
  }

  .two-images-comparison div:first-of-type {
    margin-right: 0;
  }
}

.two-column-div {
  display: flex;
  flex-direction: row;
}

.two-column-div p:first-of-type {
  margin-right: calc(var(--spacing) * 2.5px);
}

@media screen and (max-width: 520px) {
  .two-column-div {
    flex-direction: column;
  }

  .two-column-div p:first-of-type {
    margin-right: 0;
  }
}
