/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {
  --doc-sidebar-width: 220px !important;
}

[data-theme="dark"] {
  --ifm-color-primary: #fff;
}

.navbar__item {
  margin-top: 7px;
}

#pageTemplate {
  font-size: 20px;
}

.theme-doc-markdown a { /* Doc pages main section without edit this page or pagination */
  color: #3D71D9;
  text-decoration: underline;
}

.menu__link {
  color: rgba(204, 204, 220, 0.65);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.menu__link.menu__link--active {
  color: #ccccdc;
  background-color: transparent;
}

.menu__link:hover,
.menu__list-item-collapsible:hover {
  color: #ccccdc;
  background: #22252b;
  text-decoration: underline;
}

.pagination-nav a:hover {
  text-decoration: none;
}

.pagination-nav button {
  width: 215px;
}

#about {
  background: #111217;
  color: #CCCCDCA6;
  font-weight: 300;
}

#about #content {
  padding: 35px;
  font-size: 14px;
}

#about #content h1 {
  font-weight: 400;
}

#about #content #cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}

#about #content #cards .card {
  background: #22252B;
  width: 21%;
  margin: 5px;
  padding: 14px;
  border: 1px solid rgba(204, 204, 220, 0.15);
  border-radius: 2px;
  display: block;
}

#about #content #cards .card img {
  float: left;
  width: 18px;
}

#about #content #cards .card .title {
  float: left;
  font-size: 16px;
  margin: -5px 0 0 10px;
}

#about #content #cards .card .text {
  float: left;
  line-height: 20px;
  margin: 5px 0 0 0;
}



#about #content #cards-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

#about #content #cards-large .card {
  background: #22252B;
  width: 46%;
  margin: 5px;
  padding: 25px;
  border: 1px solid rgba(204, 204, 220, 0.15);
  border-radius: 2px;
  display: block;
}

#about #content #cards-large .card .content {
  margin: -5px 0 0 70px;
}

#about #content #cards-large img {
  float: left;
  width: 45px;
}

#about #content #cards-large .card .title {
  font-size: 19px;
}

#about #content #cards-large .card .text {
  font-size: 14px;
  line-height: 20px;
  margin: 2px 0 30px 0;
}

#about #content #cards-large .card a {
  text-decoration: none;
}



#about #content #box {
  background: #22252B;
  border: 1px solid rgba(204, 204, 220, 0.15);
  border-radius: 2px;
  padding: 32px;
  margin: 0 0 60px 0;
}



#footer {
  background: #111217;
  color: #8e8e8e;
  font-size: 15px;
  padding: 20px 0 0 0;
  text-align: center;
}
