:root {
  --spacing: 8;
  --htmlFontSize: 14;
  --fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --fontFamilyMonospace: 'Roboto Mono', monospace;
  --fontSize: 14;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightBold: 500;
  --size-base: 14px;
  --size-xs: 10px;
  --size-sm: 12px;
  --size-md: 14px;
  --size-lg: 18px;
  --h1-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h1-fontWeight: 400;
  --h1-fontSize: 2rem;
  --h1-lineHeight: 1.1428571428571428;
  --h1-letterSpacing: -0.00893em;
  --h2-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h2-fontWeight: 400;
  --h2-fontSize: 1.7142857142857142rem;
  --h2-lineHeight: 1.1666666666666667;
  --h2-letterSpacing: 0em;
  --h3-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h3-fontWeight: 400;
  --h3-fontSize: 1.5714285714285714rem;
  --h3-lineHeight: 1.0909090909090908;
  --h3-letterSpacing: 0em;
  --h4-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h4-fontWeight: 400;
  --h4-fontSize: 1.2857142857142858rem;
  --h4-lineHeight: 1.2222222222222223;
  --h4-letterSpacing: 0.01389em;
  --h5-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h5-fontWeight: 400;
  --h5-fontSize: 1.1428571428571428rem;
  --h5-lineHeight: 1.375;
  --h5-letterSpacing: 0em;
  --h6-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --h6-fontWeight: 500;
  --h6-fontSize: 1rem;
  --h6-lineHeight: 1.5714285714285714;
  --h6-letterSpacing: 0.01071em;
  --body-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --body-fontWeight: 400;
  --body-fontSize: 1rem;
  --body-lineHeight: 1.5714285714285714;
  --body-letterSpacing: 0.01071em;
  --bodySmall-fontFamily: "Inter", "Helvetica", "Arial", sans-serif;
  --bodySmall-fontWeight: 400;
  --bodySmall-fontSize: 0.8571428571428571rem;
  --bodySmall-lineHeight: 1.5;
  --bodySmall-letterSpacing: 0.0125em;
  --mode: dark;
  --whiteBase: 204, 204, 220;
  --border-weak: rgba(204, 204, 220, 0.07);
  --border-medium: rgba(204, 204, 220, 0.15);
  --border-strong: rgba(204, 204, 220, 0.25);
  --text-primary: rgb(204, 204, 220);
  --text-secondary: rgba(204, 204, 220, 0.65);
  --text-disabled: rgba(204, 204, 220, 0.6);
  --text-link: #6E9FFF;
  --text-maxContrast: #FFFFFF;
  --primary-main: #3D71D9;
  --primary-text: #6E9FFF;
  --primary-border: #6E9FFF;
  --primary-name: primary;
  --primary-shade: rgb(90, 134, 222);
  --primary-transparent: #3D71D926;
  --primary-contrastText: #FFFFFF;
  --secondary-main: rgba(204, 204, 220, 0.16);
  --secondary-shade: rgba(204, 204, 220, 0.20);
  --secondary-text: rgb(204, 204, 220);
  --secondary-contrastText: rgb(204, 204, 220);
  --secondary-border: rgba(204, 204, 220, 0.25);
  --secondary-name: secondary;
  --secondary-transparent: rgba(204, 204, 220, 0.15);
  --info-main: #3D71D9;
  --info-text: #6E9FFF;
  --info-border: #6E9FFF;
  --info-name: info;
  --info-shade: rgb(90, 134, 222);
  --info-transparent: #3D71D926;
  --info-contrastText: #FFFFFF;
  --error-main: #D10E5C;
  --error-text: #FF5286;
  --error-name: error;
  --error-border: #FF5286;
  --error-shade: rgb(215, 50, 116);
  --error-transparent: #D10E5C26;
  --error-contrastText: #FFFFFF;
  --success-main: #1A7F4B;
  --success-text: #6CCF8E;
  --success-name: success;
  --success-border: #6CCF8E;
  --success-shade: rgb(60, 146, 102);
  --success-transparent: #1A7F4B26;
  --success-contrastText: #FFFFFF;
  --warning-main: #F5B73D;
  --warning-text: #F8D06B;
  --warning-name: warning;
  --warning-border: #F8D06B;
  --warning-shade: rgb(246, 193, 90);
  --warning-transparent: #F5B73D26;
  --warning-contrastText: #000000;
  --background-canvas: #111217;
  --background-primary: #181b1f;
  --background-secondary: #22252b;
  --action-hover: rgba(204, 204, 220, 0.16);
  --action-selected: rgba(204, 204, 220, 0.12);
  --action-focus: rgba(204, 204, 220, 0.16);
  --action-hoverOpacity: 0.08;
  --action-disabledText: rgba(204, 204, 220, 0.6);
  --action-disabledBackground: rgba(204, 204, 220, 0.04);
  --action-disabledOpacity: 0.38;
  --gradients-brandHorizontal: linear-gradient(270deg, #F55F3E 0%, #FF8833 100%);
  --gradients-brandVertical: linear-gradient(0.01deg, #F55F3E 0.01%, #FF8833 99.99%);
  --contrastThreshold: 3;
  --hoverFactor: 0.03;
  --tonalOffset: 0.15;
}
